@media screen and (max-width: 500px) {

    .logo {
        width: 30%;
    }
    .logo img {
        width: 100%;
    }
    .user_menu {
        width: 65%;
        float: right;
        position: absolute;
        top: 0;
        right: 0;
        margin: 5px;
    }
    .user_menu ul{
        float: none;
    }
    .user_menu ul li:first-child{
        width: 65%;
    }
    .user_menu ul li:last-child{
        width: 35%;
    }
    .search_area {
        width: 100%;
    }
    .search_box {
        width: 85%;
    }
    .slide-area {
        height: 250px;
    }
    .slide-area .slider img {
        height: 250px;
    }
    .slider_content {
        top: 80px;
        left: 50px;
        width: 70%;
    }
    .slider_content h3 {
        font-size: 20px;
        margin-bottom: 40px;
    }


    .product-card {
        width: 80%;
        margin: 10px 47px;
    }
    
    .section-product-cards .owl-carousel 
    .owl-nav button.owl-prev,
    .owl-nav button.owl-next {
        display: none;
    }

    
}