header {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: teal;
}
.close-btn {
    cursor: pointer;
    visibility: hidden;
}
.header-content {
    display: flex;
    justify-content: space-between;
}
.header-content ul {
    display: flex;
}
.header-content ul li{
    margin-right: 30px;
    list-style: none;
}
.header-content ul li a{
    color: white;
    text-decoration: none;
    display: block;
}

.menu-btn {
    font-size: 20px;
    cursor: pointer;
}
/* wrapper */

.wrapper {
    display: flex;
    flex-wrap: nowrap;
}
.sidebar {
    width: 300px;
    background: rgb(11, 84, 76);
    min-height: calc(100vh);
}
.sidebar ul {
    padding-left: 0 !important;
}
.nav-bar li {
    list-style: none;
    height: 50px;
    line-height: 50px;
}
.nav-bar li a{
    color: white;
    text-decoration: none;
    display: block;
    padding-left: 10px;
}
.nav-bar li a:hover {
    background: rgba(84, 194, 194, 0.972);
    color: black;
}
.working-panel {
    width: 100%;
}

/* catogories coloring */
.bg-orange-g {
    background: linear-gradient(to right, #f5c43f, #b67f07);
}
.bg-green-g {
    background: linear-gradient(to bottom right, #50f856 0%, #0d985c 100%);
}
.bg-primary-g {
    background: linear-gradient(to right, #4c89f1 0%, #0669cc 100%);
}